<!-- Fixed navbar -->

<!-- <nav class="navbar navbar-expand-sm navbar-dark bg-dark" >

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls = "navbarNav" aria-expanded="false" aria-label="toggle the navigation">
        <span class="navbar-toggler-icon" ></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav" >
        <ul class="navbar-nav">
          <li class="nav-item active"><a href="\"  class="nav-link active"> Home</a></li>
          
          <li class="nav-item dropdown">
            <a href="\"  class="nav-link dropdown-toggle" id="Arborescence" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
              Les tables du projet
            </a>
            <ul class="dropdown-menu" aria-labelledby="Arborescence">
              <li><a class="dropdown-item" href="/">Vide</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/">Vide</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/">Vide</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a href="\"  class="nav-link dropdown-toggle" id="Arborescence" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
              Selects
            </a>
            <ul class="dropdown-menu" aria-labelledby="Arborescence">
              <li><a class="dropdown-item" href="/interface0">Une page avec des selects</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/">Vide</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a href="\"  class="nav-link dropdown-toggle" id="Arborescence" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
              Divers
            </a>
            <ul class="dropdown-menu" aria-labelledby="Arborescence">   
              <li><a class="dropdown-item" href="/fetchPost">Fetch POST</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/txBaliseHtml01">Balise html envoyées par le serveur</a></li>

              <li><a class="dropdown-item" href="/page1">page1</a></li>
              <li><a class="dropdown-item" href="/page2">page2</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/coller01">Coller une image depuis le presse papier</a></li>
              <li><a class="dropdown-item" href="/coller02">ma version - Coller une image depuis le presse papier</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a href="\"  class="nav-link dropdown-toggle" id="Arborescence" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
              Editeur de texte
            </a>
            <ul class="dropdown-menu" aria-labelledby="Arborescence">   
              <li><a class="dropdown-item" href="/tinymce01">Editeur Tinymce 01 </a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/">Vide</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/">Vide</a></li>
              <li><a class="dropdown-item" href="/">Vide</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a href="\"  class="nav-link dropdown-toggle" id="Arborescence" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
              A propos de cette application
            </a>
            <ul class="dropdown-menu" aria-labelledby="Arborescence">
              <li><a class="dropdown-item" href="/aPropos01">Infos sur cette app</a></li>    
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/">Vide</a></li>
            </ul>
          </li>


  </div>
</nav> -->

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/page1">Afficher des data MYSQL</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/page2">Ajouter dans une table</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/page3">Modifier/Supprimer <br> un élément de la table</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="/">MYSQL Relations </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="/page4">Ajouter un article(enfant) à la table</a>
   <!--  <a class="dropdown-item" href="#"></a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#"></a> -->
  </div>


  </li>
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="/">MYSQL Relations professionnelles </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="/page5">Ajouter un client à la table pro</a>
   <!--  <a class="dropdown-item" href="#"></a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#"></a> -->
  </div>
  </li>
  
</ul>



<!-- <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Services
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="#">Service 1</a>
    <a class="dropdown-item" href="#">Service 2</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Service 3</a>
  </div>
</li> -->